doctype html
html
  head
    title!= 'Fast Company Code Challenge'
    style
      include ../public/css/style.css
  body
    div.container   
      div.title-container
        div.title-background
        div.title
          h1 WHAT PEOPLE ARE READING
      div.stories-container
        div.story
        div.story
        div.story
        div.story
        div.story


