doctype html
html
  head
    title!= 'Fast Company Code Challenge'
    style
      include ../public/css/style.css
  body
    div.container   
      div.title-container
        div.title-background
        div.title
          h1 WHAT PEOPLE ARE READING
      div.stories-background
      div.stories-container
        div.column.one
          div.story.one
            div.description HOW GIVING UP REFINED SUGAR CHANGED MY BRAIN
          div.story.four
            div.num-readers 587 READING
          div.story.five 
            div.description JESSICA ALBA'S HONEST COMPANY FACES $5 MILLION LAWSUIT OVER "UNNATURAL INGREDIENTS"
        div.column.two
          div.story.two
            div.num-readers 587 READING
          div.story.three
            div.num-readers 587 READING

