doctype html
html
  head
    title!= 'Fast Company Code Challenge'
    meta(name='viewport', content='width=device-width')
    style
      include ../public/css/style.css
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
  body
    div.container   
      div.title-container
        div.title-background
        div.title
          h1 WHAT PEOPLE ARE READING
      div.stories-background
      div.stories-container

        div.column.one

          div.story.one(data-story-number="1").gradient
            div.image-container
              img(src='images/3050319-poster-p-1-how-giving-up-refined-sugar-changed-my-brain.jpg')
            div.corner-container
              div.corner 01                          
            div.content-container
              div.description-container
                div.description HOW GIVING UP REFINED SUGAR CHANGED MY BRAIN
              div.num-readers-container.hide
                div.num-readers 587 READING

          div.story.four(data-story-number="4")
            div.image-container
              img(src='images/3049643-poster-p-1-the-american-dream-is-dead-heres-where-it-went.jpg')
            div.corner-container
              div.corner 04                
            div.content-container
              div.description-container.hide
                div.description THE AMERICAN DREAM IS DEAD: HERE'S WHERE IT WENT
              div.num-readers-container
                div.num-readers 587 READING

          div.story.five(data-story-number="5").gradient
            div.image-container
              img(src='images/3032719-poster-p-shutterstock134775437.jpg')
            div.corner-container
              div.corner 05                
            div.content-container
              div.description-container
                div.description UI, UX: WHO DOES WHAT? A DESIGNER'S GUIDE TO THE TECH INDUSTRY
              div.num-readers-container.hide
                div.num-readers 587 READING

        div.column.two

          div.story.two(data-story-number="2")
            div.image-container
              img(src='images/3050250-poster-p-3-what-makes-uber-run.jpg')
            div.corner-container
              div.corner 02                
            div.content-container
              div.description-container.hide
                div.description WHAT MAKES UBER RUN
              div.num-readers-container
                div.num-readers 587 READING

          div.story.three(data-story-number="3")
            div.image-container
              img(src='images/3050616-poster-p-1-six-reasons-to-set-new-years-resolutions-in-september.jpg')
            div.corner-container
              div.corner 03                
            div.content-container
              div.description-container.hide
                div.description SIX REASONS TO SET NEW YEAR'S RESOLUTIONS IN SEPTEMBER
              div.num-readers-container
                div.num-readers 587 READING
      div.corner-ad-container
        div.corner-ad 
    script(src='js/story_states.js')
