doctype html
html
  head
    title!= 'Fast Company Code Challenge'
    style
      include ../public/css/style.css
  body
    div.container   
      div.title-container
        div.title-background
        div.title
          h1 WHAT PEOPLE ARE READING
      div.stories-background
      div.stories-container
        div.story.one
          img(src='/images/3050319-poster-p-1-how-giving-up-refined-sugar-changed-my-brain.jpg')
        div.story.two
          img(src='/images/3050705-poster-p-1-every-iphone-6s-and-2015-apple-tv-rumor-in-handy-chart-form.jpg')
        div.story.three
          img(src='/images/3050258-poster-p-1-the-four-best-productivity-tricks-i-learned-at-google.jpg')
        div.story.four
          img(src='/images/3050636-poster-p-1-force-touch-apple.jpg')
        div.story.five
          img(src='/images/3050794-poster-p-1-jessica-albas-honest-company-faces-5-million-lawsuit.jpg')


