doctype html
html
  head
    title!= 'Fast Company Code Challenge'
    style
      include ../public/css/style.css
  body
    div.container   
      div.title-container
        div.title-background
        div.title
          h1 WHAT PEOPLE ARE READING
      div.stories-background
      div.stories-container
        div.column.one
          div.story.one
          div.story.four
          div.story.five
        div.column.two
          div.story.two
          div.story.three

