html, body {

}
/* flex container for page layout*/
.container {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif;  
}

/* flex container for story images*/
.image-container {
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
}

.image-container img {
  width: inherit;
  height: inherit;
  position: relative;
  z-index: -2;
  object-fit: cover;
}

/* flex container for story description and num-readers*/
.content-container {
  width: inherit;
  height: inherit;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* flex container for story description */
.description-container {
  align-self: center;
  flex: 10;
  display: flex; 
}

/* flex container for num-readers container*/
.num-readers-container {
  align-self: center;
  flex: 5;
  display: flex;
}

/* responsive styling for smartphones*/
@media (max-width: 500px) {
  .title-container {
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 10%;
    justify-content: center;
  }  
  
  /* styles for titles disc background */
  .title-background {
    width: 75%;
    height: 200px;
    background-color: rgb(200, 213, 221);
    position: absolute;
    z-index: -1;
    -webkit-clip-path: circle(100px at center);
    clip-path: circle(155px at center);
  }  

  .title {
    width: 75%;
  }  

  .title h1 {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.01em;
    text-align: justify-all;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
  } 

  .column {
    display: flex;
    flex-direction: column;
  }
  .column.one {
    align-items: flex-end;
  }
  .column.two {
    margin-top: 20%;
  }

  .stories-container {
    position: absolute;
    z-index: 1;
    display: flex;
    margin-top: 15%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .story {
    margin: 5px;
    width: 145px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Helvetica, Arial, sans-serif;
  }  


  /* styles for angled stories background */
  .stories-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 150%;
    background-color: rgb(254, 233, 100);  
    -webkit-clip-path: polygon(0% 5%, 100% 10%, 100% 60%, 0% 55%);
    clip-path: polygon(0% 5%, 100% 13%, 100% 82%, 0% 74%); 
    display: flex;
  }

  .description {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    align-self: center;
  }

  .num-readers {
    align-self: center;
    background: #000;
    color: #FFF;
    font-size: 15px;
  }    
  .column.one .corner-container {
    flex: 1;
    align-self: flex-end;  
  }

  .column.two .corner-container {
    flex: 1;
    align-self: flex-start;  
  }

  .corner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF;
    font-size: 15px;
    font-weight: 100;
    width: 25px;
    height: 25px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }

  .corner-ad-container {
    display: flex;
    justify-content: flex-end;
  }
  .corner-ad {
    margin-top: 10%;
    margin-right: 3%;
    width: 84px;
    height: 70px;
    background: #555;
    border: 5px solid #FFF;
  }   

}

/* responsives styles for tablets */
@media (min-width: 500px) and (max-width: 1200px) {
  .title-container {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 5%;
    justify-content: center;
  }

  .title-background {
    width: 50%;
    height: 380px;
    background-color: rgb(200, 213, 221);
    position: absolute;
    z-index: -1;
    -webkit-clip-path: circle(155px at center);
    clip-path: circle(155px at center);

  }
  .title {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
  }
  .title h1 {
    letter-spacing: 0.01em;
    text-align: justify-all;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    align-self: center;
  }  

  .column {
    display: flex;
    flex-direction: column;
  }
  .column.one {
    align-items: flex-end;
  }
  .column.two {
    margin-top: 10%;
  }  

  .stories-container {
    position: absolute;
    z-index: 1;
    display: flex;
    margin-top: 15%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .story {
    margin: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Helvetica, Arial, sans-serif;
  }  

  .story.one, .story.three, .story.five {
    width: 300px;
    height: 300px;
  }


  /* styles for angled stories background */
  .stories-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-top: 10%;
    height: 150%;
    background-color: rgb(254, 233, 100);  
    -webkit-clip-path: polygon(0% 5%, 100% 10%, 100% 60%, 0% 55%);
    clip-path: polygon(0% 5%, 100% 13%, 100% 82%, 0% 74%); 
    display: flex;
  }  

  .description {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    align-self: center;
  }

  .story.two .description, .story.four .description {
    font-size: 20px;
    padding: 5px;
  }

  .num-readers {
    align-self: center;
    background: #000;
    color: #FFF;
    font-size: 30px;
  }    

  .corner-ad-container {
    display: flex;
    justify-content: flex-end;
  }
  .corner-ad {
    margin-top: 5%;
    width: 175px;
    height: 125px;
    background: #555;
    border: 10px solid #FFF;
  }   

  @media(min-width: 500px) and (max-width: 650px) {
    .corner-ad {
      width: 120px;
      height: 100px;
    }
    .title h1 {
      font-size: 36px;
    }

    .stories-container {
      margin-top: 20%;
    }    

    .story {
      margin: 10px;
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: Helvetica, Arial, sans-serif;
    }  

    .story.one, .story.three, .story.five {
      width: 225px;
      height: 225px;
    }
    .story.one .description , .story.three .description , .story.five .description {
      font-size: 25px;
    }
    .story.one .num-readers , .story.three .num-readers , .story.five .num-readers {
      font-size: 20px;
    }    
    .story.two .num-readers, .story.four .num-readers {
      font-size: 20px;
    }
    .story.two .description, .story.four .description {
      font-size: 15px;
    }    
    .title-background {
      -webkit-clip-path: circle(130px at center);
      clip-path: circle(130px at center);    
    }
  }

  @media(min-width: 800px) {
    .stories-background {
      margin-top: 5%;      
    -webkit-clip-path: polygon(0% 5%, 100% 15%, 100% 60%, 0% 55%);
    clip-path: polygon(0% 5%, 100% 13%, 100% 82%, 0% 74%);        
    }
    .stories-container {
      margin-top: 10%;
    }
  }

  @media(min-width: 1000px) {
    .corner-ad {
      width: 180px;
      height: 150px;
    }
  }
}

/* styles for corner numbers */
@media (min-width: 500px) {
  .column.one .corner-container {
    flex: 1;
    align-self: flex-end;  
  }

  .column.two .corner-container {
    flex: 1;
    align-self: flex-start;  
  }

  .corner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFF;
    font-size: 30px;
    font-weight: 100;
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }

}
/* responsive styles for desktops and laptops */
@media (min-width: 1200px) {
  .title-container {
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 5%;
    justify-content: center;
  }

  .title-background {
    width: 370px;
    height: 380px;
    background-color: rgb(200, 213, 221);
    position: absolute;
    z-index: -1;
    -webkit-clip-path: circle(155px at center 160px);
    clip-path: circle(155px at center 160px);

  }
  .title {
    width: 380px;
  }
  .title h1 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify-all;
    letter-spacing: 0.01em;
    font-size: 51px;
    font-weight: normal;
  }

  /* styles for story columns */
  .column {
    display: flex;
    flex-direction: column;
  }

  .column.one {
    align-items: flex-end;
  }

  .column.two {
    margin-top: 150px;
  }   

  /* flex container for for stories*/
  .stories-container {
    position: absolute;
    z-index: 1;
    display: flex;
    margin-top: 10%;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .story {
    margin: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Helvetica, Arial, sans-serif;
  }

  .story.one, .story.three, .story.five {
    width: 500px;
    height: 500px;
  }


  /* styles for angled stories background */
  .stories-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 250%;
    background-color: rgb(254, 233, 100);  
    -webkit-clip-path: polygon(0% 5%, 100% 13%, 100% 82%, 0% 74%);
    -webkit-clip-path: polygon(0% 5%, 100% 13%, 100% 82%, 0% 74%); 
    display: flex;
  }   

  .description {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    align-self: center;
  }

  .story.two .description, .story.four .description {
    font-size: 25px;
    padding: 5px;
  }  

  .num-readers {
    align-self: center;
    background: #000;
    color: #FFF;
    font-size: 35px;
  }

  .corner-ad-container {
    display: flex;
    justify-content: flex-end;
  }
  .corner-ad {
    width: 300px;
    height: 250px;
    background: #555;
    border: 20px solid #FFF;
  } 
  
  @media (max-width: 1024px) {
    .story {
      margin: 10px;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: Helvetica, Arial, sans-serif;
    }

    .story.one, .story.three, .story.five {
      width: 400px;
      height: 400px;
    }

    .corner-ad {
      width: 240px;
      height: 200px;
      background: #555;
      border: 20px solid #FFF;
    } 
  }  
}


/* hides an html element*/
.hide {
  display: none;
}

/* adds a gradient background to an html element*/
.gradient {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5));
}