html, body {

}
.container {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  margin-top: 50px;
  width: 100%;
  height: 5%;
  justify-content: center;
}
.title-background {
  width: 370px;
  height: 380px;
  background-color: rgb(200, 213, 221);
  position: absolute;
  z-index: -1;
  -webkit-clip-path: circle(155px at center 160px);
  clip-path: circle(155px at center 160px);

}
.title {
  width: 380px;
}
.title h1 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: justify-all;
  letter-spacing: 0.01em;
  font-size: 51px ;
  font-weight: normal;
}

.stories-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1200px;
  background-color: rgb(254, 233, 100);  
  -webkit-clip-path: polygon(0% 8%, 100% 18%, 100% 82%, 0% 74%);
  clip-path: polygon(0% 20%, 100% 35%, 100% 100%, 0% 100%);  
  display: flex;
}

.stories-container {
  display: flex;
  margin-top: 10%;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}

.story {
  margin: 10px;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;  
}

.description {
  align-self: center;
  font-weight: 600;
  font-size: 44px;
}

.num-readers {
  align-self: center;
  background: #000;
  color: #FFF;
  font-size: 35px;
}

.story.one, .story.three, .story.five {
  width: 500px;
  height: 500px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.one {
  align-items: flex-end;
}

.column.two {
  margin-top: 100px;
}

.story.one {
  background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ), 
    url(images/3050319-poster-p-1-how-giving-up-refined-sugar-changed-my-brain.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.story.two {
  background: url(images/3050705-poster-p-1-every-iphone-6s-and-2015-apple-tv-rumor-in-handy-chart-form.jpg);
  background-size: contain;
  background-repeat: no-repeat;  
}

.story.three {
  background: url(images/3050258-poster-p-1-the-four-best-productivity-tricks-i-learned-at-google.jpg);
  background-size: contain;
  background-repeat: no-repeat;  
}

.story.four {
  background: url(images/3050636-poster-p-1-force-touch-apple.jpg);
  background-size: contain;
  background-repeat: no-repeat;  
}

.story.five {
    background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/3050794-poster-p-1-jessica-albas-honest-company-faces-5-million-lawsuit.jpg);
    background-size: contain;
    background-repeat: no-repeat;    
}